@import "~@global/scss/variables";

* {
  box-sizing: border-box;
}

body {
  font: 1rem sans-serif;
  padding-top: 80px;
}

.g-button {
  background-color: $dark-color;
  color: #fff;

  &--cancel {
    background-color: rgb(199, 192, 192);
    color: $dark-color;
  }
}

.g-input {
  border: none;
  padding: 5px 10px;
  border-bottom: 1px solid #000;
  width: 100%;
  outline: none;
  margin-top: 10px;

  &:focus {
    box-shadow: 0 2px 8px #000;
  }
}
