<template>
  <div class="sudoku">
    <transition name="fade">
      <Settings
        v-show="!isСonfigured"
        ref="settings"
        class="sudoku__component"
        @start="start"
      />
    </transition>
    <transition name="fade">
      <Game
        v-show="isСonfigured"
        ref="game"
        class="sudoku__component"
        @restart="restart"
      />
    </transition>
  </div>
</template>

<script>
import Settings from './components/Settings';
import Game from './components/Game';

export default {
  name: 'Sudoku2',

  components: {
    Settings,
    Game,
  },

  data: () => ({
    isСonfigured: false,
  }),

  methods: {
    start(level, mode, levelIndex, sudokuIndex) {
      this.$refs.game.getData(level, mode, levelIndex, sudokuIndex);
      this.isСonfigured = true;
    },

    restart() {
      this.isСonfigured = false;
      this.$refs.settings.clearSelect();
      this.$refs.settings.isValidate();
    },
  },
};
</script>

<style lang="scss">
.sudoku {
  position: relative;

  &__component {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }

  &__button {
    border-radius: 5px;
  }
}
</style>
