<template>
  <Sudoku />
</template>

<script>
import Sudoku from './Sudoku';

export default {
  components: {
    Sudoku,
  },
};
</script>

<style lang="scss">
@import "~@global/scss/global";
</style>
