<template>
  <div class="game__wrapper">
    <div class="game__settings">
      <md-button
        class="g-button md-raised md-primary"
        @click="isShownModal = !isShownModal"
      >
        Выбрать другой уровень!
      </md-button>
      <md-button
        v-if="!isFixedFields && mode === 'empty'"
        class="g-button md-raised md-primary"
        @click="fixFields"
      >
        Зафиксировать ячейки!
      </md-button>
      <md-button
        v-if="isFixedFields || mode === 'filled'"
        class="g-button md-raised md-primary"
        @click="clearFields"
      >
        Очистить поля!
      </md-button>
    </div>
    <Modal
      v-if="isShownModal"
      @close="isShownModal = false"
    >
      <div slot="body">
        <div class="game__modal">
          <md-button
            class="g-button g-button--cancel md-raised md-primary"
            @click="isShownModal = false"
          >
            Отмена
          </md-button>
          <md-button
            class="g-button md-raised md-primary"
            @click="restart"
          >
            Выбор другого уровня
          </md-button>
        </div>
      </div>
    </Modal>
    <Modal
      v-if="isWin"
      @close="isWin = false"
    >
      <div slot="body">
        <div class="game__modal-title">
          Вы победили!
        </div>
        <div class="game__modal">
          <md-button
            class="g-button g-button--cancel md-raised md-primary"
            @click="isWin = false"
          >
            Продолжить!
          </md-button>
          <md-button
            class="g-button md-raised md-primary"
            @click="restart"
          >
            Выбор другого уровня
          </md-button>
        </div>
      </div>
    </Modal>
    <div class="game__cells">
      <div>
        <div
          v-for="(row, rowIndex) in cells"
          :key="rowIndex"
          class="game__row"
        >
          <input
            v-for="(cell, cellIndex) in row"
            :key="cellIndex"
            :ref="`c${rowIndex}${cellIndex}`"
            v-model="cells[rowIndex][cellIndex]"
            :maxlength="level <= 3 ? 1 : 2"
            class="game__cell"
            type="text"
            @input="check"
            @keydown="moveFocus($event, `c${rowIndex}${cellIndex}`)"
          >
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex';
import { clone } from 'chober';
import Modal from '@components/Modal';

export default {
  name: 'Game',

  components: {
    Modal,
  },

  data: () => ({
    isWin: false,
    cells: [],
    level: '',
    mode: '',
    levelIndex: '',
    sudokuIndex: '',
    isShownModal: false,
    fixedCells: [],
    isFixedFields: false,
  }),

  computed: {
    ...mapState([
      'sudoku',
    ]),
  },

  methods: {
    getData(level, mode, levelIndex, sudokuIndex) {
      if (mode === 'empty') {
        this.level = +level;
      } else {
        this.level = this.sudoku[levelIndex].level;
        this.levelIndex = levelIndex;
        this.sudokuIndex = sudokuIndex;
      }

      this.isFixedFields = false;
      this.fixedCells = [];
      this.mode = mode;
      this.getCells();
    },

    getCells() {
      if (this.mode === 'empty') {
        const data = [];

        for (let row = 0; row < this.level ** 2; row += 1) {
          data[row] = [];
          for (let cell = 0; cell < this.level ** 2; cell += 1) {
            data[row][cell] = '';
          }
        }
        this.cells = data;
      }

      if (this.mode === 'filled') {
        this.cells = clone(this.sudoku[this.levelIndex].puzzles[this.sudokuIndex].cells.slice());
      }

      this.$nextTick(() => {
        this.setStyle();
        this.readOnly();
      });
    },

    setStyle() {
      const arrFromInput = document.querySelectorAll('.game__cell');
      let step = true;

      for (let i = 0; i < this.level ** 4; i += 1) {
        if (this.level % 2) {
          if (i % (this.level ** 3) === 0) {
            step = !step;
          }
          if (i % (this.level ** 2) === 0) {
            step = !step;
          }
          if (i % this.level === 0) {
            step = !step;
          }
        } else {
          if (i % (this.level ** 3) === 0) {
            step = !step;
          }
          if (i % this.level === 0) {
            step = !step;
          }
        }

        arrFromInput[i].classList.toggle('game__cell--yellow', step);
      }
    },

    readOnly() {
      const arrFromInput = document.querySelectorAll('.game__cell');

      arrFromInput.forEach((input) => {
        input.removeAttribute('readonly');
        input.classList.remove('game__readonly');
      });

      arrFromInput.forEach((input) => {
        if (input.value) {
          input.setAttribute('readonly', 'readonly');
        }
      });
    },

    moveFocus({ key }, refs) {
      if (this.level > 3) return;

      const row = +refs[1];
      const column = +refs[2];
      let nextCell;

      switch (key) {
        case 'ArrowUp':
          if (row - 1 < 0) return;

          nextCell = `c${row - 1}${column}`;
          break;
        case 'ArrowDown':
          if (row + 1 > (this.level ** 2) - 1) return;

          nextCell = `c${row + 1}${column}`;
          break;
        case 'ArrowLeft':
          if (column - 1 < 0) return;

          nextCell = `c${row}${column - 1}`;
          break;
        case 'ArrowRight':
          if (column + 1 > (this.level ** 2) - 1) return;

          nextCell = `c${row}${column + 1}`;
          break;
        default:
          return;
      }

      this.$refs[nextCell][0].focus();
    },

    fixFields() {
      const arrFromInput = document.querySelectorAll('.game__cell');

      arrFromInput.forEach((input) => {
        if (!input.value) return;
        if (input.value) {
          input.setAttribute('readonly', 'readonly');
          this.fixedCells = clone(this.cells);
          this.isFixedFields = true;
        }
      });
    },

    clearFields() {
      if (this.mode === 'empty') {
        this.cells = clone(this.fixedCells);
      } else {
        this.cells = clone(this.sudoku[this.levelIndex].puzzles[this.sudokuIndex].cells.slice());
      }
      this.check();
    },

    check() {
      const { level } = this;
      const example = [];

      for (let number = 1; number <= level ** 2; number += 1) {
        example[number - 1] = number;
      }

      const rCells = this.cells.reduce((isCells, row, rowIndex, cells) => {
        let isRight = isCells;

        const checkHorizontal = row.map((cell, cellIndex) => cells[rowIndex][cellIndex]);
        const checkVertical = row.map((cell, cellIndex) => cells[cellIndex][rowIndex]);
        const checkSquare = [];
        const subCheckSquare = [];

        for (let squares = 0; squares < level; squares += 1) {
          for (let square = 0; square < level; square += 1) {
            for (let line = 0; line < level; line += 1) {
              for (let column = 0; column < level; column += 1) {
                checkSquare
                  .push(cells[(line + 1 + (level * (squares))) - 1][(column) + level * (square)]);
              }
            }
          }
        }

        for (let i = 0; i < level ** 2; i += 1) {
          subCheckSquare[i] = checkSquare.slice(i * (level ** 2), ((level ** 2) * (i + 1)));
        }

        subCheckSquare.forEach((checking) => {
          checking.sort().forEach((number, numberIndex) => {
            if (+number !== example[numberIndex]) {
              isRight *= 0;
            }
          });
        });

        [checkVertical, checkHorizontal].forEach((checking) => {
          checking.sort().forEach((number, numberIndex) => {
            if (+number !== example[numberIndex]) {
              isRight *= 0;
            }
          });
        });

        return isRight;
      }, 1);

      if (rCells) this.isWin = true;
    },

    restart() {
      this.isShownModal = false;

      this.$emit('restart');
      this.result = '';
      this.isWin = false;
    },
  },
};
</script>

<style lang="scss" scoped>
@import "~@global/scss/variables";

.game {
  &__modal {
    display: flex;
    justify-content: space-between;
  }

  &__modal-title {
    display: flex;
    justify-content: center;
    font-size: 20px;
    margin: 20px auto 30px;
  }

  &__settings {
    display: flex;
    justify-content: center;
  }

  &__cells {
    display: flex;
    justify-content: center;
    padding: 30px;
  }

  &__row {
    font-size: 12px;
    display: flex;
    flex-wrap: nowrap;
  }

  &__cell {
    max-width: 50px;
    height: 50px;
    font-size: 25px;
    text-align: center;
    border: 1px solid #000;
    outline: none;
    background-color: $dark-color;
    color: #fff;

    &:focus {
      border: 3px solid #fff;
    }

    &--yellow {
      background-color: $main-color;
    }

    &[readonly] {
      font-weight: 900;
      text-shadow:
        #000 1px 1px 0,
        #000 -1px -1px 0,
        #000 -1px 1px 0,
        #000 1px -1px 0;
    }
  }

  &__button {
    padding: 10px 20px;
    font-size: 16px;
    transition: all 0.2s ease;
    transition-property: background-color;
    display: inline-block;
    user-select: none;
    text-align: center;
    cursor: pointer;
    outline: none;
    border: 1px solid #000;
    background-color: $main-color;
    margin: 10px;

    &:hover,
    :focus {
      background-color: $dark-color;
      color: #fff;
    }
  }
}
</style>
