<template>
  <div class="settings">
    <Modal
      v-if="showRules"
      @close="showRules = false"
    >
      <div slot="body">
        <h3>Правила игры!</h3>
        <p>
          Что бы победить нужно заполнить все поля числами от 1 до 4
          для поля 4х4 и от 1 до 9 для поля 9х9
        </p>
        <p>
          Числа не должны повторяться по вертикали, горизонтали и в малых
          квадратах (выделенные цветом).
        </p>
        <p>
          Для старта нужно выбрать режим. уровень сложности
          и уровень судоку.
        </p>
        <p>
          Если выбрать режим путые поля то у игрока появиться
          пустое поле где можно вписать исходные параметры
          которые фиксируются для дальнейшей игры.
        </p>
        <p>
          Перемещение по клеточкам осуществляется мышью или клавишами
          'Вправо', 'Влево', 'Вверх', 'Вниз', на клавиатуре
        </p>
      </div>
      <template v-slot:footer>
        <div class="settings__modal-footer">
          <md-button
            class="g-button md-raised md-primary"
            @click="showRules = false"
          >
            Закрыть
          </md-button>
        </div>
      </template>
    </Modal>
    <div class="settings__wrapper">
      <div class="settings__section settings__section--center">
        <md-button
          class="g-button md-raised md-primary"
          @click="showRules = true"
        >
          Правила игры
        </md-button>
      </div>
      <div class="settings__section settings__section--center">
        Выберите режим судоку
      </div>
      <div class="settings__section settings__section--between">
        <label>
          <input
            v-model="mode"
            type="radio"
            value="filled"
            @change="isValidate"
          >
          Заполненые поля
        </label>
        <label>
          <input
            v-model="mode"
            type="radio"
            value="empty"
            @change="isValidate"
          >
          Пустые поля
        </label>
      </div>
      <div class="settings__section settings__section--between">
        <div class="settings__element">
          <transition
            name="fade"
            mode="out-in"
          >
            <div
              v-if="mode === 'empty'"
            >
              <span>
                Выберите сложность:
              </span>
              <br>
              <div>
                <select
                  v-model="level"
                  class="settings__select"
                  @change="isValidate"
                >
                  <option value="2">
                    4x4
                  </option>
                  <option value="3">
                    9x9
                  </option>
                </select>
              </div>
            </div>
          </transition>
        </div>
        <div class="settings__element">
          <transition
            name="fade"
            mode="out-in"
          >
            <div v-if="mode === 'filled'">
              <span>
                Выберите сложность:
              </span>
              <div>
                <select
                  v-model="levelIndex"
                  class="settings__select"
                  @change="isValidate"
                >
                  <option
                    v-for="(sudokuLevel, sudokuLevelIndex) in sudoku"
                    :key="sudokuLevelIndex"
                    :value="sudokuLevelIndex"
                  >
                    {{ sudokuLevel.name }}
                  </option>
                </select>
              </div>
            </div>
          </transition>
          <transition
            name="fade"
            mode="out-in"
          >
            <div v-if="(levelIndex || levelIndex === 0) && mode === 'filled'">
              <span>
                Выберите уровень:
              </span>
              <div>
                <select
                  v-model="sudokuIndex"
                  class="settings__select"
                  @change="isValidate"
                >
                  <option
                    v-for="(puzzle, puzzleIndex) in sudoku[levelIndex].puzzles"
                    :key="puzzleIndex"
                    :value="puzzleIndex"
                  >
                    {{ puzzle.id }}
                  </option>
                </select>
              </div>
            </div>
          </transition>
        </div>
      </div>
      <div class="settings__section settings__section--center">
        <transition name="bounce">
          <md-button
            v-if="isStartButton"
            class="g-button md-raised md-primary"
            @click="start"
          >
            Запуск
          </md-button>
        </transition>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex';
import Modal from '@components/Modal';

export default {
  name: 'Settings',

  components: {
    Modal,
  },


  data: () => ({
    mode: '',
    level: '',
    levelIndex: null,
    sudokuIndex: null,
    isStartButton: false,
    showRules: false,
  }),

  computed: {
    ...mapState([
      'sudoku',
    ]),
  },

  methods: {
    clearSelect() {
      this.mode = '';
      this.level = '';
      this.levelIndex = null;
      this.sudokuIndex = null;
    },

    isValidate() {
      if (
        (this.level
        && this.mode === 'empty')
        || (this.levelIndex >= 0
        && this.levelIndex !== null
        && this.sudokuIndex >= 0
        && this.sudokuIndex !== null
        && this.mode === 'filled')
      ) {
        this.isStartButton = true;
      } else {
        this.isStartButton = false;
      }
    },

    start() {
      if (
        (this.level
        && this.mode === 'empty')
        || (this.levelIndex >= 0
        && this.levelIndex !== null
        && this.sudokuIndex >= 0
        && this.sudokuIndex !== null
        && this.mode === 'filled')
      ) {
        this.$emit('start', this.level, this.mode, this.levelIndex, this.sudokuIndex);
      }
    },
  },
};
</script>

<style lang="scss">
.settings {
  display: flex;
  justify-content: center;

  &__modal-footer {
    display: flex;
    justify-content: flex-end;
  }

  &__wrapper {
    width: 400px;
  }

  &__section {
    display: flex;
    padding: 20px;
    min-height: 70px;

    &--center {
      justify-content: center;
    }

    &--between {
      justify-content: space-between;
      position: relative;
    }
  }

  &__select {
    width: 100%;
  }

  &__element {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
  }
}
</style>
